body {
  background-color: tan;
}
.home {
  font-family: Raleway;
  background-color: grey;
  padding: 25%;
  min-width: 240px;
}
.portfolio {
  font-family: Raleway;
  background-color: grey;
  padding: 25%;
  min-width: 240px;
}
