.jumbotron {
  font-family: Raleway;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/6/68/Rocky_Mountain_National_Park_PA162782.jpg");
  background-repeat: no-repeat;
  background-size: auto;
}
