body {
  background-color: tan;
}
.home {
  font-family: Raleway;
  background-color: grey;
  padding: 25%;
  border-style: outset;
}
.portfolio {
  font-family: Raleway;
  background-color: grey;
  padding: 25%;
  border-style: outset;
}
